/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

public/.DS_Store

public/assets/.DS_Store

public/assets/images/.DS_Store

public/assets/img/.DS_Store

public/bootstrap/.DS_Store

public/css/.DS_Store

public/js/.DS_Store

resources/.DS_Store

resources/assets/.DS_Store

resources/assets/js/.DS_Store

resources/views/.DS_Store
